VITE_API_BASE_URL=http://localhost:8000                             # By default FastAPI / uvicorn runs on port 8000. May be different
VITE_API_PREFIX=api/v1                                              # Check API docs (http://localhost:8000/docs) for the latest version prefix
VITE_SUPABASE_URL=http://localhost:54321                            # By default Supabase runs on 54321. May be different
VITE_SUPABASE_ANON_KEY=<Supabase API key>                           # Provided when installing and launching local Supabase instance
VITE_DEMO_USER_ID=<UUID of the user account used for demo mode      # Optional, used to display DEMO tag in frontend