@import url('reset.css');

:root {
    /*  COLOR SCHEME  */
    --clr-bg: #FFF;
    --clr-bg-muted: #F3F3F3;
    --clr-bg-inverse: #111827;
    --clr-surface: rgb(24, 24, 27, 0.1);
    --clr-surface-muted:  rgb(24, 24, 27, 0.02);
    --clr-text-header: #FFF;
    --clr-text-primary: #18181B;
    --clr-text-inverse: #FAFAFA;
    --clr-text-inverse-muted: rgba(250,250,250,0.8);
    --clr-text-inactive: rgb(113, 113, 122);
    /* TODO: find better naming for this color used in insights */
    --clr-text-summary: rgb(75, 85, 99);
    --clr-border: rgb(228, 228, 231);
    --clr-positive: rgb(34, 197, 94);
    --clr-negative: rgb(239, 68, 68);

    /* TODO: colors inside card headers and goal reminder  */
    /* rgb(75, 85, 99) */

    /* FONTS */
    --fs-primary: 14px;
    --fs-header-title: 2.25rem; /* 32px */
    --fs-header-subtitle: 1.25rem; /* 18px */
    --fs-control-label: 1.15rem; /* 16px */
    --fs-insights-header: 1.5rem; /* 20px */
    --fs-insights-value: 2.15rem; /* 30px */
    --fs-insights-evaluation: 1.15rem; /* 16px */;
    --fs-insights-subtitle: 1.15rem; /* 14px */;

    /* Rounded corners radius value */
    --rounded-corners-main: 0.75rem;
    --rounded-corners-btn: 7px;

    /* Padding for buttons */
    --padding-btn: 10px 15px;
}


html {
    font-size: var(--fs-primary);
    font-family: Geist, Arial, Helvetica, sans-serif;
}

body {
    max-width: 1020px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: var(--clr-bg);
}

/* TODO - Review how can we have BEM structure for these 2  */
.page {
    border-radius: var(--rounded-corners-main);
    border: var(--clr-border) 2px solid;
}

/* Utility class that gives consistent global padding */
.main-content {
    padding: 24px;
}

/* Utility class that spaces out elements on a row */
.spaced-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-radius: var(--rounded-corners-main) var(--rounded-corners-main) 0 0;
    background: linear-gradient(to right, var(--clr-bg-inverse), rgb(55, 65, 81));
}

/*
.header__content {
    display: flex;
    justify-content: space-between;
} */

.header__title {
    font-size: var(--fs-header-title);
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
    line-height: 2.25rem;
}

.header__subtitle {
    color: var(--clr-text-inverse-muted);
    font-size: var(--fs-header-subtitle);
}

.goal-selection {
    display: flex;
    gap: 10px;
    align-items: center;
}

.goal-selection__intro {
    color: var(--clr-text-inverse-muted);
    flex-shrink: 0;
    font-weight: 500;
}
.goal-selection__container {
    display: flex;
    gap: 7px;
    list-style: none;
    flex-shrink: 0;
}

.goal-selection__cta {
    display: flex;
    padding: 2px 10px;
    gap: 3px;
    border-radius: 1rem;
    border: 1px solid var(--clr-border);
    color: var(--clr-text-inverse);
    text-decoration: none;
    flex-shrink: 0;
    font-weight: 400;
}

.goal-selection__cta--active,
.goal-selection__cta:hover {
    color: var(--clr-text-primary);
    background-color: var(--clr-bg);
}

.goal-selection__icon {
    width: 0.9em;
}

.filter-selection{
    display: flex;
    background-color: var(--clr-surface);
    border-radius: var( --rounded-corners-btn);
    padding: 5px;
    align-items: center;
}

.filter-option {
    padding: 8px;
    border-radius: var( --rounded-corners-btn);
    color: var(--clr-text-inactive);
    text-decoration: none;
    font-weight: 500;
}

.filter-option--active {
    background-color: var(--clr-bg-inverse);
    color: var(--clr-text-inverse);
}

.get-data-cta {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 6px;
    border-radius: var( --rounded-corners-btn);
    background-color: var(--clr-bg-inverse);
    color: var(--clr-text-inverse);
    text-decoration: none;
    font-weight: 500;
}

.get-data-cta__icon,
.weeks-filter__icon,
.dates-filter__icon {
    width: 18px;
    height: 18px;
}

.weeks-filter,
.dates-filter {
    display: flex;
    padding: 25px 0 ;
    align-items: center;
    gap: 10px;
}

.weeks-filter__label,
.dates-filter__label {
    font-weight: 500;
}

.weeks-filter__input,
.dates-filter__input {
    padding: var(--padding-btn);
    min-width: 0;
    border: 1px solid var(--clr-border);
    border-radius: var(--rounded-corners-btn);
}

.dates-filter__input {
    flex-basis: 160px;
}

.weeks-filter__input {
    flex-basis: 100px;
}

.dates-filter__input::placeholder {
    color: var(--clr-text-inactive);
}

.weeks-filter__submit,
.dates-filter__submit {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: var(--padding-btn);
    background-color: var(--clr-bg-inverse);
    color: var(--clr-text-inverse);
    border: none;
    border-radius: var(--rounded-corners-btn);
    cursor: pointer;
    font-weight: 500;
}

.summary {
    background-color: var(--clr-surface-muted);
    padding: 25px;
    border-radius: var(--rounded-corners-main);
    border: 1px solid var(--clr-border);
}

.summary__header {
    font-size: var(--fs-insights-header);
    font-weight: 700;
    margin-bottom: 22px;
}

.summary__goal-reminder {
    color: var(--clr-text-summary);
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: var(--fs-primary);
    font-weight: 500;
}

.summary_icon,
.summary-card__icon {
    width: 16px;
    height: 16px;
}

.summary__cards-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(215px, 1fr));
    grid-template-rows: auto;
    gap: 15px;
    margin-bottom: 20px;
    justify-items: center;
}

.summary-card {
    background-color: var(--clr-bg);
    padding: 25px;
    border-radius: var(--rounded-corners-main);
    border: 1px solid var(--clr-border);
    list-style: none;
}

.summary-card__header {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--clr-text-summary);
    /* margin-bottom: 5px; */
}

.summary-card__value {
    font-size: var(--fs-insights-value);
    font-weight: 700;
}

/*  */
.summary-card__subtitle {
    font-size: var(--fs-insights-subtitle);
    color: var(--clr-text-summary);
    font-weight: 600;
}

.summary_evaluation {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 20px;
    border-radius: var(--rounded-corners-main);
    background-color: var(--clr-surface);
    font-size: var(--fs-insights-evaluation);
    font-weight: 500;
}

.summary_icon--evaluation {
    width: 20px;
    height: 20px;
}



@media screen and (max-width: 770px){
    .goal-selection {
        flex-direction: column;
        text-wrap: nowrap;
    }
    .goal-selection__container {
        flex-direction: column;
    }
}
