name: Testing Flow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  testing:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: test_weight_tracker
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      DB_CONNECTION_STRING: "postgresql+psycopg2://postgres@localhost:5432/test_weight_tracker"
      STORAGE_TYPE: "database"
      DEMO_USER_ID: "ab54afc9-826e-4cb9-9a53-1158f9e33e3a"

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Set up environment
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Announce Start
        run: echo "Starting Testing Flow"
      - name: Unit testing
        run: poetry run pytest tests/backend/unit
      - name: API Integration Testing
        run: poetry run pytest tests/backend/integration
